.pokemon {
    position: relative;
    display: flex;
    place-content: center;
}

.pokemon > article {
    position: fixed;
    overflow: scroll;
    width: clamp(250px, 80vw, 500px);
    margin-top: 5vh;
    border: 10px solid #ffcd00;
    border-radius: 5px;
    height: calc(100vh - calc(82px + 12vh));
    background-image: url("/images/cardback_pokemon.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pokemon > article > div {
    background-color: #ddd3d87c;
    backdrop-filter: blur(5px);
    min-height: -webkit-fill-available;
}
/* HEADER */
.pokemon header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em clamp(0.6em, 1.5vw, 1em);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pokemon header h1 {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 0.15em;
    font-size: clamp(1.3em, 5vw, 2em);
    font-weight: 900;
    padding: 0;
}
.pokemon header h1,
.pokemon h2 > span,
.pokemon h3 {
    filter: contrast(200%) hue-rotate(220deg) brightness(200%) saturate(6);
    text-shadow: 2px 2px black;
    font-family: "Baumans", cursive;
}
.pokemon header,
.pokemon h2 {
    filter: saturate(0.5);
}
.pokemon header > div {
    display: flex;
    justify-content: flex-end;
}
.pokemon header img {
    width: clamp(20px, 4vw, 30px);
    margin-left: 4px;
    filter: drop-shadow(0px 0px 2px white) saturate(12) brightness(200%);
}

/* Section */
.pokemon section {
    position: relative;
    margin: clamp(10px, 3vw, 15px);
    color: #ffcd00;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.524);
}
.pokemon h2 {
    margin-top: 0;
    padding: 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* color: #292800; */
    font-weight: 600;
}

.pokemon .title_img,
.pokemon .id {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    font-size: clamp(2em, 4vw, 5em);
    text-shadow: 2px 2px 3px black;
    text-align: center;
    text-transform: uppercase;
}
.pokemon .content {
    padding-inline: 1em;
}
.pokemon .content > div {
    display: flex;
    margin-bottom: 8px;
}
.pokemon .content h3,
.pokemon .content ul {
    text-transform: capitalize;
    margin: 0;
}
.pokemon .content ul,
.pokemon .content span {
    padding-left: 5px;
}
.pokemon .content h3 {
    white-space: nowrap;
}
/* STAT */
.pokemon .stat > div {
    align-items: baseline;
}
.pokemon .stat span,
.pokemon .stat span > div {
    border-radius: 12px;
}
.pokemon .stat span {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 1.2em;
    font-size: 0.8em;
    overflow: hidden;
}
.pokemon .stat span > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    padding-inline: 8px;
    color: #fff;
    filter: hue-rotate(220deg);
}
/* FIN STAT */
.pokemon .img_container {
    display: grid;
    place-content: center;
}
.pokemon .img_container img {
    position: relative;
    z-index: 1;
    width: clamp(160px, 50vw, 300px);
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px black);
}
.pokemon .img_big {
    margin-top: 5vw;
}
.pokemon .id {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(4em, 20vw, 8em);
}

/* Evolution */
.pokemon .evol {
    position: relative;
    aspect-ratio: auto;
}
.pokemon .evol > div {
    position: absolute;
    display: grid;
    place-content: center;
    width: 100%;
    height: -webkit-fill-available;
}

.pokemon .evol img {
    width: clamp(125px, 35vw, 150px);
    aspect-ratio: 1/1;
    margin-block: 2em;
    filter: drop-shadow(5px 5px 5px black);
    transition: transform 0.3s ease-in-out;
}
.pokemon .evol img:hover {
    transform: scale(1.2);
}
.pokemon .evol_arrow_container {
    display: grid;
    place-content: center;
    margin-block: 1.5em;
    filter: drop-shadow(2px 4px 6px black);
}
.pokemon .evol_arrow_container > div {
    position: relative;
    width: 20px;
    height: 80px;
}
.pokemon .evol_arrow_container > div > div {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
}
.pokemon .evol_arrow_container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
}

/* FOOTER */

.pokemon footer {
    position: sticky;
    z-index: 5;
    bottom: 0;
    display: grid;
    place-content: end;
    margin-right: 8px;
}
.pokemon footer button {
    box-shadow: 2px 3px 6px black;
}

.pokemon [alt*="spinner"] {
    position: absolute;
    top: 50%;
}
