.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 1); */
    box-shadow: 0px 3px 5px 0px rgb(53, 53, 53);
    background: linear-gradient(115deg, #ddd3d8 57.7%, black 57.7%);
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 5px 15px;
}
.header li {
    list-style: none;
}
.header li:first-child {
    width: 35px;
    transition: all 0.5s ease-in-out;
}
/* .header li:first-child:hover {
    transform: rotate(720deg);
} */
.header li:first-child img {
    width: 100%;
    filter: drop-shadow(1px 1px 2px rgb(120, 119, 119));
    transition: all 0.8s ease-in-out;
}
.header li:first-child img:hover {
    transform: rotate(720deg);
}

.header li:last-child {
    position: relative;
}
.header li:last-child span {
    position: absolute;
    top: 0.6em;
    right: -0.6em;
    width: 1.8em;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    /* text-align: center; */
    font-size: 0.8em;
    font-weight: 600;
    color: #ddd3d8;
    background-color: rgba(255, 0, 0, 0.85);
    border-radius: 50%;
}
