.list {
    min-height: calc(100vh - 82px);
}
.list > article:first-child {
    position: sticky;
    top: 82px;
    display: flex;
    padding: 0.5em;
    background: linear-gradient(90deg, black 7%, transparent);
}
.list_wrapper {
    text-align: center;
}
.list_wrapper h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: clamp(3em, 8vw, 6em);
    text-align: center;
    color: #ddd;
    text-transform: capitalize;
    text-shadow: 3px 3px 3px black;
}
.list_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10vh 0;
    margin: 0;
}

.list .no_result {
    color: #ddd;
    font-size: 3em;
    font-weight: 900;
}
.list .no_result span {
    animation: reveal 2s;
    animation-fill-mode: both;
    margin-left: 10px;
}
.list .no_result span:nth-child(1) {
    animation-delay: 1s;
}
.list .no_result span:nth-child(2) {
    animation-delay: 2s;
}
.list .no_result span:nth-child(3) {
    animation-delay: 3s;
}
.list .no_result span:nth-child(4) {
    animation-delay: 4s;
}

/* *ScrollTop */
.scrollTop {
    position: fixed;
    right: 5vw;
    top: 90vh;
    z-index: 100;
    animation: reveal 1s;
}

.scrollTop div {
    position: relative;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #ddd;
    background-color: rgba(44, 44, 44, 0.885);
    transition: background-color 0.3s;
}
.scrollTop div::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
    transition: border-bottom-color 0.3s;
}
.scrollTop div:hover {
    background-color: #ddd;
}
.scrollTop div:hover::after {
    border-bottom-color: rgba(56, 55, 55, 0.766);
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
