.list {
    min-height: calc(100vh - 82px);
}
.list > article:first-child {
    position: sticky;
    top: 82px;
    display: flex;
    padding: 0.5em;
    background: linear-gradient(90deg, black 7%, transparent);
}
.list_wrapper {
    text-align: center;
}
.list_wrapper h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: clamp(3em, 8vw, 6em);
    text-align: center;
    color: #ddd;
    text-transform: capitalize;
    text-shadow: 3px 3px 3px black;
}
.list_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10vh 0;
    margin: 0;
}

.list .no_result {
    color: #ddd;
    font-size: 3em;
    font-weight: 900;
}
.list .no_result span {
    animation: reveal 2s;
    animation-fill-mode: both;
    margin-left: 10px;
}
.list .no_result span:nth-child(1) {
    animation-delay: 1s;
}
.list .no_result span:nth-child(2) {
    animation-delay: 2s;
}
.list .no_result span:nth-child(3) {
    animation-delay: 3s;
}
.list .no_result span:nth-child(4) {
    animation-delay: 4s;
}
@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
